<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=SSPI"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>