<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="Pubs" connectionString="Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Pubs;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>